<header class="header">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        {{#if user}}
        <a href="/login">Login</a>
        {{/if}}
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</header>
