<header class="header">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-6">
        LOGO
      </div>
      <div class="col-xs-6">
        NAV
      </div>
    </div>
  </div>
</header>
