<h1>{{{title}}}</h1>
<ul class="items">
  {{#each todos}}
    <li class="item" data-id="{{id}}">
       <a href="/delete/{{name}}">X</a><span>{{name}}</span>
    </li>
  {{/each}}
</ul>

<h2>Add Item</h2>
<form id="submit-form" action="/create" method="POST">
  <input type="text" placeholder="Item" name="name">
  <button class="btn submit-item" type="submit">Add Item</button>
</form>
