<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="title">Login</h1>
      <form id="submit-form" action="/login" method="POST">
        <input type="text" placeholder="Email" name="email" id="email">
        <input type="text" placeholder="Password" name="password" id="password">
        <button class="btn" type="submit">Login</button>
      </form>
    </div><!--/.col-->
  </div><!--/.row-->
</div><!--/.container-->
